// Fonts

// Variables
@import 'variables';

@import '~@coreui/coreui/dist/css/coreui.min.css';
@import '~@coreui/icons/css/free.min.css';
@import '~@coreui/icons/css/brand.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
.badge-blue {
    background-color: $blue;
    color: white;
}
.btn-blue {
    background-color: $blue !important;
    color: white !important;
}

.handHover {cursor: pointer;}

.modalMaxHeight {max-height: 80vh;}

.overflowAuto {overflow: auto !important;}

.text-blue {color: $blue !important;}
.text-purple {color: $purple !important;}
.text-green {color: $green !important;}
.text-red {color: $red !important;}

.TreeView .opener:after {
    content: '' !important;
}

.TreeView ul {
    padding-left: 15px;
}

.TreeView ul li > .item > a {
    width: 100% !important;
    margin-right: 0 !important;
}

@media (max-width: 768px) {
    .main .container-fluid {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
}
